.sidebox {
    border: 1px solid red;
}

.boxmain {
    border: 1px solid black;
}

#mainheader {
    border: 1px solid blue;
    background: white;
    height:200px;
}

#contentmain {
    position: absolute;
    top: 200px;
    bottom: 200px;
    overflow-y: auto;
}

#mainfooter {
    width: 640px;
    margin: 0% -320px;
    position: fixed;
    left: 50%;
    bottom: 0%;
}